<% if (post.albums && post.albums.length){ %>
<div class="article-albums">
  <ul class="article-albums-photos" id="basicExample">
    <% post.albums.forEach(function(photo){ %>

    <li class="article-albums-item" data-scroll-reveal>
      <img class="lazy" data-original="<%- url_for(photo[0]) %>" itemprop="image" alt="<%- photo[1] %>"
        style="cursor: pointer;">
      <% if (photo && photo.length > 1){ %>
      <span class="article-albums-caption"> <%- photo[1] %> </span>
      <% } %>
    </li>

    <% }) %>
  </ul>
</div>
<% } %>