<ul class="list-inline">
  <% if (is_home()) { %>
  <li>PV:<span id="busuanzi_value_site_pv"></span></li>
  <%} %>
  <li>UV:<span id="busuanzi_value_site_uv"></span></li>
  <% if (is_post()) { %>
  <li>PV:<span id="busuanzi_value_page_pv"></span></li>
  <%} %>
</ul>