$wrap-width = convert(hexo-config('layout.article_width'))
$aside-width = convert(hexo-config('layout.sidebar_width'))
$mouse-url = convert(hexo-config('mouse.path'))

if hexo-config('mouse.enable')
    body
        cursor: url($mouse-url),auto;

.sidebar
    left - $aside-width
    width $aside-width
    &.on
        left 0
.content
    &.on
        margin-left 0 !important
.navbar-toggle
    left 1.5rem + $aside-width
.search-form-wrap
    right $aside-width

@media(min-width: 768px)
    .outer, .wrap
        width $wrap-width !important
@media(max-width: 768px)
    .tocbot
        display none !important
    .sidebar
        left 0
        &.on
            left - $aside-width
    .content
        transform translateX($aside-width)
        &.on
            transform translateX(0)
    
