<ul class="ads">
    <% for (var i in theme.ads){ %>
        <li>
            <a href="<%= theme.ads[i].url %>">
                <img src="<%= theme.ads[i].img %>" width="<%= theme.ads[i].width %>" alt="<%=theme.ads[i].title %>">
            </a>
        </li>
    <% } %>
</ul>