darkmode()
	background: rgba(0,0,0,.6)
	*
		color: #f2f2f2
	.article-entry code
		background: darken(#ddd,10%) !important
		color: #c7254e !important
	.article-header .article-title,.share-outer i,.category-list .category-list-item i,.category-list a:hover .category-list-item,.article-date, .article-category .article-category-link, .archive-year-wrap .archive-year, .archive-article-date,a.toc-link,.tag-list > .tag-list-item:before,.article-tag-list:before
		color: darken(#fff,10%) !important
	.share-icons a i,.float_btns i,#reward .reward-p,#reward .reward-p i,.local-search-input
		color: darken(#999,20%) !important
	.is-position-fixed
		background-color transparent
	.v *
		color: #555 !important
	.tag-list > .tag-list-item .tag-list-link,.article-tag-list .article-tag-list-link
		background: darken(#fff,10%) !important
		color: #555 !important
	#vcomments-box #vcomments
		background-color rgba(255,255,255,.1) !important
		*
			color #f1f1f1 !important
	.v .vbtn
		background-color: transparent !important
	.v .vlist .vcard .vhead .vsys
		border: 1px solid #f1f1f1 !important
		background-color: transparent !important
	input::-webkit-input-placeholder
		color: #ccc;
	input::-moz-input-placeholder
		color: #ccc;
	input::-ms-input-placeholder
		color: #ccc;