// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Fonts
font-size-browser = 62.5%
font-size-base    = 1.4rem
font-family-base  = "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif
font-line-height  = 1.7

// Colors
black         = #000000
water         = #cce5ff
water-green   = #9c9
sea-blue      = #3d85c6
sea-dark      = #172d3e
sea           = #1e3e3f
sea-light     = #253145
sea-lighter   = #5c6b72
gray          = #adb5bd
froth-light   = #f4f4f4
froth         = #999
white         = #ffffff
sand-light    = #9c8079
sand          = #9e6a4d
sand-dark     = #5c5858
sand-gray     = #bbb
red           = #ea434a

// Share Colors
weibo-color      = #d81e06
wechat-color     = #51c332
qq-color         = #4cafe9
douban-color     = #05b711
twitter-color    = #00aced
facebook-color   = #3b5998
pinterest-color  = #cb2027
google-color     = #dd4b39

// Link Colors
link-color         = #0681d0
link-hover-color   = lighten(link-color, 20%)
link-active-color  = darken(link-color, 5%)
disabled-color     = gray

// Body Colors
body-background = white
body-color      = darken(sand-dark,30%)
main-color      = darken(water,20%)
tag-color       = lighten(body-color,15%)

// Border
border-radius   = 0.4rem
border-width    = 0.1rem
border-color    = froth

// Layout
aside-width      = 8rem
wrap-width       = 70rem
years-width      = 6rem
logo-size        = 4.2rem
cover-logo-size  = 6rem

gutter-width     = 1.5rem

// Breakpoints
breakpoints = (
  xs = 0,
  sm = 576px,
  md = 768px,
  lg = 992px,
  xl = 1200px
)

// Transition
transition-slow          = all .7s ease-in-out 0s
transition-fast          = all .1s ease-in-out 0s
transition-base          = all .3s ease-in-out
transition-fade          = opacity .15s linear
transition-collapse      = height .35s ease
