.articles
  .article
    padding 4.5rem 0
    &:not(:last-child)
      border-bottom border-width #ddd solid
  .article-entry, .article-footer
    margin-top 0
  .article-entry
    margin 1rem 0
    padding 0 2rem 2rem
    border 1px dashed lighten(tag-color,80%)
    .article-more-link
      display inline-block
      float right
      background-color body-color 
      padding .5rem 1rem
      border-radius 4px
      color white !important
      text-decoration none
    .article-gallery
      margin-top 1.5rem