// Categories

.category-list
  list-unstyled()
  margin-right -.5rem
  margin-left -.5rem
  > .category-list-item
    display inline-block
    padding .5rem 1rem
    &:before
      content "\efde"
      font-family remixicon
      margin-right .5rem