// Categories

.category-list
  list-unstyled()
  margin-right -.5rem
  margin-left -.5rem
  .category-list-item
    margin: 10px 10px;
    padding: 0 14px;
    display: inline-block;
    text-align: center;
    height: 38px;
    min-width: 80px;
    line-height: 38px;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 5px;
    word-wrap: break-word;
    cursor: pointer;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.08);
    border: 1px solid #e7e7eb
    &:before
      content "\efde"
      font-family remixicon
      margin-right .5rem
      display inline-block
      vertical-align middle
    i 
      font-style normal
      margin-left 10px
      color: darken(water,45%)
  a 
    display inline-block
    vertical-align middle
    text-decoration: none 
    color: body-color
    &:hover
      .category-list-item
        border: 1px solid darken(water,20%)
        box-shadow:  0 3px 5px water
        color: darken(water,50%);
      &:before
        color: darken(water,50%);
    