
.footer
  border-top border-width solid #bbb 
  padding 3rem 0
  .outer
    &>ul
      position relative
      display flex
      justify-content space-between
      &:first-child
        border-bottom border-width solid darken(froth-light,10%)

      li
        display inline-block
        padding .5rem 0
      span
        margin-right 6px