// Tags

.tag-list
  list-unstyled()
  margin-right -.5rem
  margin-left -.5rem
  > .tag-list-item
    display inline-block
    padding .5rem 1rem
    font-size 120%
    &:before
      content "\eec3"
      font-family remixicon
      margin-right .5rem
      display inline-block
      vertical-align middle
      color: tag-color
    .tag-list-link
      display inline-block
      vertical-align middle
      text-decoration: none
      height 30px
      line-height 30px
      padding: 0 15px
      font-size: 1.5rem
      border-radius: 15px
      background-color tag-color
      color white
      box-shadow: 0 3px 5px rgba(0,0,0,0.12)
      transition: .2s
      &:hover
        transform: scale(1.1)
