
 

.tooltip-top
  .tooltip
    display: inline;
    position: relative;
    z-index: 999;

  /* Tooltip */

  .tooltip-content
    position: absolute;
    z-index: 9999;
    width: 370px;
    left: 50%;
    bottom: 70px;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    font-weight: 400;
    color: #4d4d4d;
    background: water;
    margin: 0 0 -10px -185px;
    cursor: default;
    display: none;
    padding-bottom: 20px;
 
 
