// Categories
.categories-box
  max-width 320px
  margin-right -.5rem
  margin-left -.5rem
  border-left 1px solid #eee
  span
    padding-left: 5px;
    color: #aaa;
    font-size: 14px
  ul li, ol li
    list-unstyled()
    margin: 15px 0;
    padding-left: 15px;
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
    border-bottom: 1px solid #eee;
    &:last-child
      margin-bottom 0
      border-bottom 0 solid #000
    i 
      font-style normal
      margin-left 10px
      color: darken(water,45%)
  a 
    display inline-block
    vertical-align middle
    text-decoration: none 
    color: body-color
    &:hover
      opacity .8
    &:before
      content "\efde"
      font-family remixicon
      margin-right .5rem
      display inline-block
      vertical-align middle
  ul ul,ol ul,ul ol,ol ol
    list-unstyled()
    margin 0 20px
  ul ul li,ol ul li,ul ol li,ol ol li
    list-unstyled()
    border: none;
    padding-bottom: 0;
.category-list-count:before, .tag-list-count:before, .archive-list-count:before
  content: "(";
.category-list-count:after, .tag-list-count:after, .archive-list-count:after
  content: ")";
 
  
