
.footer
  border-top 2px solid #f6f6f6 
  padding 3rem 0
  .outer
    &>ul
      position relative
      display flex
      justify-content space-between
      &:first-child
        border-bottom border-width solid #f1f1f1

      li
        display inline-block
        padding .5rem 0
        a
          text-decoration none
      span
        margin-right 6px