// friends
#friends_link
    .friends_li
        list-style none
        float left
        a
            padding 15px 25px
            display flex
            align-items center
            justify-content space-between
            font-size 17px
            text-decoration none
            background-color rgba(6,129,208,.1)
            color #000
            border-radius 6px
            margin-right 20px
            margin-bottom 20px
            img 
                display inline-block
                width 40px
                height 40px
                border-radius 50%
                margin-right 10px
            i
                font-size 25px
                width 40px
                height 40px
            &:hover
                background-color rgba(6,129,208,.15)
