/*
 * Justified Gallery - v4.0.0-alpha
 * http://miromannino.com/projects/justified-gallery/
 * Copyright (c) 2019 Miro Mannino
 * Licensed under the MIT license.
 */

.justified-gallery
  width 100%
  position relative
  overflow hidden
  > a, > div, > figure
    position absolute
    display inline-block
    overflow hidden
    background gray /* To have gray placeholders while the gallery is loading with waitThumbnailsLoad = false */
    opacity 1
    margin 0
    padding 0
    > img, > a > img, > svg, > a > svg
      position absolute
      top 50%
      left 50%
      margin 0
      padding 0
      border none
      opacity 1
    > .caption
      display none
      position absolute
      right 0
      bottom 0
      left 0
      padding 1rem
      background-color rgba(black, .5)
      background linear-gradient(to top, rgba(black, .5), transparent)
      color white
      &.caption-visible
        display initial
  > .jg-entry-visible
    opacity 1
    background none
    > img, > a > img, > svg, > a > svg
      opacity 1
      -webkit-transition opacity 500ms ease-in
      -moz-transition opacity 500ms ease-in
      -o-transition opacity 500ms ease-in
      transition opacity 500ms ease-in
  > .jg-filtered
    display none
    > .spinner
      position absolute
      bottom 0
      margin-left -24px
      padding 10px 0 10px 0
      left 50%
      opacity 1
      overflow initial
    > span
      display inline-block
      opacity 1
      width 8px
      height 8px
      margin 0 4px 0 4px
      background-color #000
      border-radius 6px
      