
.tocbot
  position absolute
  right: -28rem
  top 14rem
  font-size 80%
  opacity .95
  max-width 230px
  border-radius 8px
  > .toc-list
    position relative
    overflow hidden


.toc-list
  list-unstyled()
  padding-left 1rem


a.toc-link
  height 100%
  color sea-dark
  text-decoration none
  font-size 115%


.is-collapsible
  max-height 1000px
  overflow hidden
  transition all 300ms ease-in-out


.is-collapsed
  max-height 0


.is-position-fixed
  position fixed !important
  top 0
  right 6rem
  background-color #fff

// Left line before pseudo element.
.toc-link::before
  background-color water
  content ' '
  display inline-block
  height inherit
  left 0
  margin-top -1px
  position absolute
  width 2px

.is-active-link::before
  background-color sea-blue

.is-active-link
  font-weight 700